* {
margin: 0;
    padding: 0;
box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    display: block;
    margin: 0 auto;
    /* align-items: center; */
}

.cabeçalho {
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
}
.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed;
    padding-bottom: 32px;
    max-width: 600px;
    margin: auto;
}

.titulo-corpo-cardapio,
.titulo-corpo-bebidas {
    border: 1px solid;
    margin: 16px;
    padding: 16px;
    text-align: center;
max-width: 600px;

}
.fyt {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }

li {
    border: 1px solid;
    padding: 8px;
    width: 200px;
}


